.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  width: 300px;
  padding: 1.1em;
  background-color: white;
  border: 1px solid gray;
}

.login-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  flex: 1;
  margin: 0.8em 0;
  padding: 0.8em;
}

.login-form button {
  width: 100%;
  border: none;
  padding: 1em;
  background-color: #fdc12a;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1em;
}

.login-form p {
  margin: 0.3em 0;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}

.login-form span {
  font-size: 0.9rem;
  color: red;
  font-weight: bold;
}

.login-new-account {
  width: 300px;
}

.login-new-account p {
  margin: 1.2em;
  text-align: center;
}

.login-new-account button {
  width: 300px;
  border: none;
  padding: 0.8em;
  background-color: gray;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.8em;
}
